@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --rotationDuration: 20s;
  --hoverDuration: 0.3s;
  --easeIn: cubic-bezier(0.32, 0, 0.67, 0);
  --easeOut: cubic-bezier(0.33, 1, 0.68, 1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Serif JP", serif;
}

body {
  font-weight: 400;
  background-color: #0a0a0a;
  color: #ffffff;
}

.body-inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
}

/***************************** dark-scroll-bar **************************/
::-webkit-scrollbar {
  width: 8px;
  z-index: 99999;
}

::-webkit-scrollbar-thumb {
  background: rgba(185, 185, 185, 0.35);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(185, 185, 185, 0.55);
}

/***************************** mouse-circle **************************/
.mouse-circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  pointer-events: none;
  z-index: 4;
}

/****************************nav-bar***************************/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 3.5%;
  padding-right: 3.5%;
}
@media (min-width: 1024px) {
  .nav-container {
    padding-top: 40px;
  }
}

.nav-logo {
  height: 30px;
}
.nav-logo img {
  height: 100%;
}

.menu-toggle-wrapper {
  display: relative;
  z-index: 100;
}

#menu-button {
  border: 1px solid red;
  position: absolute;
  background: none;
  border: none;
  top: 40px;
  right: 70px;
  color: #ffffff;
  font-size: 18px;
}

.toggle-icon {
  right: 55px;
  top: 58px;
  position: absolute;
}
.toggle-icon::before {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 25px;
  bottom: 7px;
  background-color: #FFF;
}
.toggle-icon:after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 15px;
  background-color: #FFF;
}

#side-menu {
  position: fixed;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  color: #b9b9b9;
  transition: all 0.3s ease-in-out;
  z-index: 101;
  text-align: center;
  font-size: 40px;
}
#side-menu ul {
  padding-top: 100px;
}
#side-menu ul li {
  margin-bottom: 10px;
}
#side-menu a {
  text-decoration: none;
  color: #b9b9b9;
}

#side-menu.open {
  bottom: 0;
  right: 0;
}

#close-btn {
  z-index: 200;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 100;
  color: #b9b9b9;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/************************** end of nav-bar ************************* /

/***************************** Section 1 **************************/
.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 1000px) {
  .hero-section {
    margin-top: -130px;
    margin-bottom: -170px;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 360px;
  padding-bottom: 260px;
}

.hero-image-container {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 110px;
  flex: 0 0 auto;
  max-width: 490px;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1800px) {
  .hero-image-container {
    width: 60%;
  }
}
@media (max-width: 1500px) {
  .hero-image-container {
    width: 48%;
  }
}
@media (max-width: 1000px) {
  .hero-image-container {
    margin-right: 0;
  }
}
.hero-image-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.hero-image-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  z-index: 2;
  opacity: 0.3;
}

.hero-title {
  position: relative;
  line-height: 1.3;
  color: #ffffff;
  z-index: 3;
}
@media (min-width: 1373px) {
  .hero-title {
    padding-left: 7%;
    padding-right: 12%;
  }
}
.hero-title h2 {
  font-size: clamp(40px, 4vw, 75px);
  font-weight: normal;
  font-style: normal;
}
.hero-title u {
  text-decoration: underline;
}

.made-with-love {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b9b9b9;
  transform: rotate(-90deg);
  bottom: 0;
  right: 0;
  font-size: 14px;
  opacity: 0.5;
  /* transform-origin: 50% -70%; */
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
#text-circle {
  position: absolute;
  left: 6rem;
  bottom: -2rem;
}
#text-circle.animate {
  animation: slide-out 1s ease-in-out forwards;
}
@media (max-width: 1000px) {
  #text-circle {
    animation: slide-out 1s ease-in-out forwards;
  }
}
#text-circle .link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #b9b9b9;
  stroke: #b9b9b9;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  font: 400 1.55rem/1.4 "IBM Plex Serif";
  text-transform: uppercase;
  letter-spacing: 0.3em;
  word-spacing: 0.3em;
}
#text-circle .link__arrow {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  transition: transform var(--hoverDuration)/2 var(--easeIn);
}
#text-circle .link:hover .link__arrow {
  transform: scale(1.1);
  transition: transform var(--hoverDuration) var(--easeOut);
}
#text-circle .link__arrow {
  stroke-width: 0.075em;
}
#text-circle .link__text {
  animation: rotate normal infinite var(--rotationDuration) linear;
  transform-origin: 50% 50%;
}
#text-circle .link:hover .link__text {
  animation-play-state: paused;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/*********************** End of Section 1 **********************/
/******************** Section 2 ***************************/
.works-section {
  position: relative;
  margin-top: 100px;
}

.works-section-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10%;
}
.works-section-heading h2 {
  font-size: calc(28px + 2vw);
  line-height: 1.3;
  font-weight: 500;
}
.works-section-heading h3 {
  color: #b9b9b9;
  font-size: calc(16px + 0.3vw);
  margin: 0 0 20px 0;
}
.works-section-heading .see-all-works {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: transparent;
  margin: 15px 15px 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  border: none;
}
.works-section-heading .see-all-works::after {
  display: inline-block;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 2px;
  margin-left: 15px;
}

.works-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .works-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.work {
  position: relative;
  padding: 2rem;
}

.work-image img {
  max-width: 100%;
}

.work-image::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  z-index: 1;
  opacity: 0.2;
}

.work-info {
  position: absolute;
  left: 0;
  bottom: 15%; /*8%?*/
  padding: 0 10%; /*0 8%?*/
  width: 100%;
  max-width: 900px;
  z-index: 2;
}
.work-info h2 {
  font-size: calc(19px + 1.5vw);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.5;
}
.work-info .work-type {
  margin-top: 8px;
  font-size: calc(13px + 0.1vw);
  color: #ffffff;
}

/************************  End of Section 2 ************************/
/************************** Section 3 ******************************/
.services-section {
  padding: 10% 3%;
}

.services-section-heading {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15%;
}
.services-section-heading h3 {
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #b9b9b9;
}
.services-section-heading h2 {
  font-size: calc(28px + 2vw);
  line-height: 1.3;
  color: #ffffff;
  font-weight: 500;
}

.services-wrapper {
  padding: 0 15px;
}

.service {
  padding: 10px 0;
  position: relative;
  border-top: 1px solid #b9b9b9;
}

.service:last-child {
  /*last-child符合两个条件：同类名 & 同一父元素下*/
  border-bottom: 1px solid #b9b9b9;
}

.service-collapsible {
  border: none;
  width: 100%;
  text-align: left;
  background: transparent;
  color: #ffffff;
  padding: 45px 0;
  cursor: pointer;
}
.service-collapsible h3 {
  font-size: calc(24px + 1.5vw);
  font-weight: 500;
}
.service-collapsible p {
  margin-top: 10px;
  font-size: 19px;
  font-weight: normal;
  color: #999;
}

.service-collapsible:after {
  content: "+";
  color: #b9b9b9;
  font-size: 80px;
  font-weight: 10;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0); /*move -50% according itself*/
}

.service-collapsible:hover:after {
  /*hover on :after*/
  color: #ffffff;
}

.service-collapsible.active:after {
  content: "−"; /*where's .active come from？*/
}

.service-info {
  background: #0a0a0a;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-width: 800px;
}
.service-info p {
  margin: 0 0 30px;
  padding-bottom: 40px;
  color: #b9b9b9;
  line-height: 1.7;
  font-size: 19px;
  font-weight: normal;
}

/*********************** End of Section 3 **************************/
/************************** Section 4 ******************************/
.quotes-section {
  position: relative;
  background: rgba(255, 255, 255, 0.03);
  padding: 10% 3%;
}

.quote-slide {
  display: none;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  cursor: grab;
}
.quote-slide p {
  font-size: calc(19px + 0.6vw);
  line-height: 1.6;
  font-style: italic;
}
.quote-slide .quote-author {
  margin-top: 30px;
  font-size: 19px;
  color: #b9b9b9;
}

.prev,
.next {
  position: absolute;
  color: #b9b9b9;
  top: 50%;
}

.next {
  position: absolute;
  right: 5%;
}

.dot-container {
  margin-top: 3%;
  text-align: center;
}
.dot-container .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  margin: 8px;
  opacity: 1;
  border-radius: 100%;
  border: 2px solid #fff;
}

.dot.active,
.dot:hover {
  background: #ffffff;
}

/*********************** End of Section 4 **************************/
/************************** Section 5 ******************************/
.contacts-section {
  padding: 10% 0;
}

.contacts-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.contacts-wrapper p {
  margin-top: 5px;
  font-style: italic;
  color: #999;
  font-size: 80%;
}
.contacts-wrapper .send-message-btn {
  background: transparent;
  border: none;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 100px;
  color: #ffffff;
  height: 50px;
  padding: 0 30px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.contacts-section-heading {
  margin-bottom: 10%;
}
.contacts-section-heading span {
  font-size: calc(16px + 0.3vw);
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #b9b9b9;
}
.contacts-section-heading h2 {
  font-size: calc(28px + 2vw);
  line-height: 1.3;
  font-weight: 500;
  color: #ffffff;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form label {
  font-family: "Poppins", sans-serif;
}
.form input,
.form select {
  color: #b9b9b9;
  background-color: transparent;
  font-size: 17px;
  border-width: 0 0 1px 0;
  border-radius: 2px;
  border-color: rgba(136, 136, 136, 0.6);
  height: 56px;
}

/*********************** End of Section 5 **************************/
footer {
  padding: 60px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3.5%;
  padding-right: 3.5%;
  font-size: 14px;
}
footer .back-to-top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
footer .back-to-top a {
  text-decoration: none;
  color: #ffffff;
}
footer .back-to-top::after {
  display: inline-block;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 2px;
  margin-left: 15px;
}
footer .social {
  margin-bottom: 10px;
}
footer .social ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
}

/*# sourceMappingURL=index.css.map */
